<ion-view class="surveysubpage">
	<ion-content scroll="false" id="viewmatch">

		<div class="row responsive-sm">

			<div class="list card">

		  	<div>
		    	<p> {{match.name}} </p>
		    	<p> {{match.address}}</p>
					<p><a target="_system" ng-href="http://maps.google.com/maps?q={{match.gps_coordinates}}">Map</a></p>
		  	</div>

		  	<div class="item item-image">
					<p><a ng-click="window.open('{{match.menu_link}}', '_system')" target="_system" ng-href={{match.menu_link}}> View On Yelp</a> &nbsp <i class="icon ion-android-restaurant"></i> &nbsp <a ng-href={{match.review_link}}> Reviews </a></p>
				</div>

			</div>

					<div class="col"><ion-button  ng-click="randomMatch()" class="button button-small">Find a new match</ion-button></div>
					<div class="col"><ion-button nav-transition="none" ui-sref="survey.mealtype" class="button button-small">Back to survey</ion-button></div>


		</div>
	</ion-content>
</ion-view>
