<ion-view class="surveysubpage">
	<ion-content scroll="false" id="viewmatch">

		<div class="row responsive-sm">

			<div class="list card">

		  	<div>
		    	<p>Name</p>
		    	<p>Address</p>
					<p><a href="http://maps.apple.com/?q=51.507269,-0.127695">Map</a></p>
		  	</div>

		  	<div class="item item-image">
					<p><a href="http://www.yelp.com/jersey">View Menu </a> &nbsp <i class="icon ion-android-restaurant"></i> &nbsp <a href="https://www.yelp.com/writeareview"> Reviews </a></p>
				</div>

			</div>

					<div class="col"><ion-button nav-transition="none" ui-sref="#" class="button button-small">Find a new match</ion-button></div>
					<div class="col"><ion-button nav-transition="none" ui-sref="survey.mealtype" class="button button-small">Back to survey</ion-button></div>


		</div>
	</ion-content>
</ion-view>
